/*CSS style for If you could - my Portfolio for the NYCDA x BSSA*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TrajanusBricks';
  src: url('TrajanusBricks.ttf');
}

@font-face {
  font-family: 'Carolus Italic';
  src: url('carolusi.ttf');
}

body {
  text-align: center;
  background-image: url("../public/img/forest-path.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: fixed;
  margin: 0;
  padding: 0;
}

.growAbout {
  transition: all .5s ease-in-out;
}

.growAbout:hover {
  transform: scale(2.0);
}

p {
  text-align: center;
  font-family: 'TrajanusBricks';
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

.title {
	font-family: 'TrajanusBricks';
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

.pre {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: 'TrajanusBricks';
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

.outerdiv {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 90%;
  z-index: 1;
  background-color: #663333;
  opacity: 0.3;
}

.innerdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'TrajanusBricks';
  font-size: 30px;
  font-style: bold;
  margin: 10px 70px 10px 10px;
  text-shadow: 2px 2px 2px #303030;
}

a#home {
  /*font-size: 25px;*/
  text-decoration: none;
}

p#home {
  font-family: 'TrajanusBricks';
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

.homeName {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.bodyTextdiv {
  position: absolute;
  top: 85%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.bodyTextdiv a {
  text-decoration: none;
	color: white;
	transition: all .2s;
}

.bodyTextdiv a:hover {
  text-decoration: none;
  color: white;
	text-shadow: 1px 1px 13px yellow;
}


/*About page*/

#me {
  content: url("./public/img/meColor.png");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 300px;
	transition: all .2s ease-in-out;
}

#me:hover {
	-webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.hobbies {
  display: inline-block;
  position: absolute;
  top: 22px;
  right: 0;
  width: 90%;
  height: 30px;
  padding: 5px;
  color: white;
  text-align: right;
}

.hobbies img {
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 5px;
}

.hobbies sup {
  font-size: 15px;
  font-family: "Helvetica";
  text-shadow: 2px 2px 2px #303030;
}

.aboutWrap {
  position: absolute;
  width: 100%;
  top: 30px;
  margin: auto;
  margin-top: 15px;
  padding: 0;

}

#column1 {
  float: left;
  width: 25%;
  text-align: right;
  padding: 10px;
}

/*#column1 pre {
  font-family: 'TrajanusBricks';
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
  text-align: right;
}*/

#column2 {
  display: inline-block;
  width: 30%;
  padding: 10px;
}

#column2 p {
  font-family: 'TrajanusBricks';
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

#column3 {
  display: inline-block;
  /*position: absolute;
  top: 20%;
  left: 65%;
  width: 30%;
  padding: 5px;
  color: white;
  font-size: 14px;
  font-family: "TrajanusBricks";
  text-shadow: 2px 2px 2px #303030;
  text-align: right;*/
}

#skills {
  font-size: 30px;
  font-family: "Helvetica";
}


/*Contact page*/

.contact {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: auto;
}

.birdgum {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
}


/*Work page*/

.work {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 150px;
  text-align: center;
}

#box {
  display: inline-block;
  width: 350px;
  margin: auto;
  vertical-align: top;
  text-align: left;
}

#box p {
  text-align: center;
  font-family: "Helvetica";
  font-size: 20px;
  vertical-align: bottom;
}

#box p#title {
  font-family: "TrajanusBricks";
  font-size: 22px;
  text-align: center;
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(2.0);
}

.grow2 {
  transition: all .5s ease-in-out;
}

.grow2:hover {
  transform: scale(4.0);
}
