<!DOCTYPE html>
<html lang="en">
 	<head>
    <link rel="stylesheet" href="../public/styles.css" type="text/css">
	</head>
  <body>
      <div class="hobbies"> 
       <img src="../public/Drawing.png" alt="Drawing"> <sup> drawing </sup>
       <img src="../public/Running.png" alt="Running"> <sup> running </sup>
       <img src="../public/Layoutdesign.png" alt="Layout Design"> <sup> layout design </sup>
       <img src="../public/History.png" alt="History"> <sup> history </sup>
       <img src="../public/Louvre.png" alt="Art"> <sup> art </sup>
       <img src="../public/Puzzles.png" alt="Puzzles"> <sup> puzzles </sup>
       <img src="../public/Travel.png" alt="Travel"> <sup> travel </sup>
     </div>
    <div class="aboutWrap">
       <div id="column1">
         <pre> 
           c^r^e^a^t^i^v^e
           h^o^n^e^s^t 
           o^p^e^n ^ m^i^n^d^e^d
           c^u^r^i^o^u^s 
           e^a^g^e^r ^ t^o ^ l^e^a^r^n 
         </pre>
         <img id="me" src="../public/meBW.png" alt="Loet" height="300px">
       </div>
       <div id="column2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         <p> full ^ stack <br> web ^ developer <br> 
       </div>
      	<div id="column3">
  		  <div id="column3img">   
           
  	    </div>
		    <div id="column3text">
  		     <br>
  		    
  		     <br>
  		     
  		     <br>
  		     
  		     <br>
  		     
  		     <br>
  		    
  		     <br>
  		     
  		     <br>
  		     
  	    </div>
       </div>
	    </div>
   	<div class="bodyTextdiv">
  		<a id="home" href="index.html">home</a>
  		<a href="about.html">about</a>
  		<a href="work.html">work</a>
  		<a href="contact.html">contact</a>
  	</div>
  </body>
</html>