<!DOCTYPE html>
<html lang="en">
 	<head>
	    <link rel="stylesheet" href="../public/styles.css" type="text/css">
	</head>
  	<body>
      <div class="aboutWrap">
        <div id="column1">
          <pre> 
            c^r^e^a^t^i^v^e
            h^o^n^e^s^t 
            o^p^e^n ^ m^i^n^d^e^d
            c^u^r^i^o^u^s 
            e^a^g^e^r ^ t^o ^ l^e^a^r^n 
          </pre>
          <img id="me" src="../public/me.jpg" alt="Loet" height="300px">
        </div>
        <div id="column2">
          <p> full ^ stack <br> web ^ developer <br> <br> node js <br> javascript </p>
        </div>
<!--       	<div id="column3">
  			  <div id="column3img">   
             <img src="../public/Drawing.png" alt="Drawing" height="30px" width="30px"> 
  			     <img src="../public/Running.png" alt="Running" height="30px" width="30px"> 
  			     <img src="../public/Layoutdesign.png" alt="Layout Design" height="30px" width="30px"> 
  			     <img src="../public/History.png" alt="History" height="30px" width="30px">
  			     <img src="../public/Louvre.png" alt="Art" height="30px" width="30px">
  			     <img src="../public/Puzzles.png" alt="Puzzles" height="30px" width="30px"> 
  			     <img src="../public/Travel.png" alt="Travel" height="30px" width="30px">
  		    </div> -->
<!--   		    <div id="column3text">
  			     <br>
  			     <p> drawing </p>
  			     <br>
  			     <p> running </p>
  			     <br>
  			     <p> layout design</p>
  			     <br>
  			     <p> history </p>
  			     <br>
  			     <p> art </p>
  			     <br>
  			     <p> puzzles </p>
  			     <br>
  			     <p> travel </p>
  		    </div> -->
        </div>
	   </div>
  	<div class="bodyTextdiv">
			<a id="home" href="index.html">home</a>
			<a href="about.html">about</a>
			<a href="work.html">work</a>
			<a href="contact.html">contact</a>
		</div>
  	</body>
</html>