<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/styles.css" type="text/css">
  </head>
  <body>
    <div class="birdgum">
      <a href="http://www.birdgum.com" target="_blank"><img src="../public/Birdgumlogo.png" alt="Birdgum" height="50px" width="50px"></a> 
    </div>
    <div class="contact"> 
      <a href="http://github.com/LoetRomijn/" target="_blank"><img src="../public/GithublogoByFlaticon.png" alt="Github" height="50px" width="50px"></a>
      <a href="http://linkedin.com/in/loetje-romijn-29446236" target="_blank"><img src="../public/LinkedinlogoByFlaticon.png" alt="LinkedIn" height="50px" width="50px"></a>
      <a href="http://twitter.com/LoetRomijn" target="_blank"><img src="../public/TwitterlogoByFlaticon.png" alt="Twitter" height="50px" width="50px"></a>
      <br>
      <br>
      <br>
      <p> l^o^e^t^r^o^m^ij^n^@^g^m^a^i^l^.^c^o^m </p>
      <br>
    </div> 
    <div class="bodyTextdiv">
      <a id="home" href="index.html">home</a>
      <a href="about.html">about</a>
      <a href="work.html">work</a>
      <a href="contact.html">contact</a>
    </div>
  </div>
  </body>
</html>