<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/styles.css" type="text/css">
  </head>
  <body>
    <div class="work">
      <div id="box">
        <p id="worktitles"> blog <a href="https://github.com/LoetRomijn/BlogApp"><img src="../public/GithublogoByFlaticon.png" alt="Github" height="20px" width="20px"></a> 
        <img class="grow" src="../public/Blogapp1.png" alt="Blog" width="300px"> 
        <img class="grow2" src="../public/Blogapp2.png" alt="Blog" width="140px"> 
        <img class="grow2" src="../public/Blogapp3.png" alt="Blog" width="140px"> 
        <br> <br> node js <br> javascript <br> restful api's <br> postgresql <br> jade <br> css </p>
      </div>
      <div id="box">
        <p id="worktitles"> if you could <a href="https://github.com/LoetRomijn/If-you-could"><img src="../public/GithublogoByFlaticon.png" alt="Github" height="20px" width="20px"></a>
        <img class="grow" src="../public/Ifyoucould1.png" alt="Final Project" width="300px"> 
        <img class="grow2" src="../public/Ifyoucould2.png" alt="Final Project" width="140px"> 
        <img class="grow2" src="../public/Ifyoucould3.png" alt="Final Project" width="140px"> 
         <br> <br> node js <br> javascript <br> restful api's <br> postgresql <br> jade <br> css </p>
      </div>
      <div id="box">
         <p id="worktitles"> Matching app <a href="https://github.com/LoetRomijn/If-you-could"><img src="../public/GithublogoByFlaticon.png" alt="Github" height="20px" width="20px"></a>
        <img class="grow" src="../public/LLModelDiagram1.png" alt="Languages Learning Model Diagram" width="300px"> 
        <br> <br> node js <br> javascript <br> restful api's <br> postgresql <br> jade <br> css </p>
      </div>
    </div>
  	<div class="bodyTextdiv">
  		<a id="home" href="index.html">home</a>
  		<a href="about.html">about</a>
  		<a href="work.html">work</a>
  		<a href="contact.html">contact</a>
  	</div>
  </body>
</html>